/target
/logs
.cpcache
.clj-kondo
.nrepl-port
.rebel_readline_history
.vscode
.calva
.dir-locals.el
.env
.envrc
.lsp
.claude
node_modules
static/css
static/js/app.js
static/js/app.js.map
static/js/app.css
static/js/cljs-runtime
static/js/manifest.edn
.shadow-cljs
