{:deps {org.clojure/clojure {:mvn/version "1.12.3"}
        org.duct-framework/main {:mvn/version "0.4.3"}
        org.duct-framework/module.logging {:mvn/version "0.6.6"}
        org.duct-framework/module.web {:mvn/version "0.13.4"}
        org.duct-framework/module.sql {:mvn/version "0.9.0"}
        org.postgresql/postgresql {:mvn/version "42.7.10"}}
 :aliases {:duct {:main-opts ["-m" "duct.main"]}}}
