{:system
 {:duct.module/logging {}
  :duct.module/sql {}
  :duct.module/web
  {:features #{:site :hiccup}
   :routes [["/" {:get :yield.handler/index}]
            ["/greeting" {:get :yield.handler/greeting}]]}}}
